@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
html{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
.App{
  margin-top: 100vh;
  
}

*{
  font-family: 'Readex Pro', sans-serif;
  image-rendering: optimizeSpeed;
 
}